<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        nav {
            background: #1E90FF;
            padding: 20px;
            border-radius: 0px 0px 10px 10px;
        }
        .text-container{
            padding: 20px;
        }
        .nav-bar{
            font-size: 30px;
        }
        .info{
            display:flex;
        }
        .info{
            padding:20px;
        }
        #btn-info{
            margin-right: 5px;
        }

    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>create</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <nav class="nav-test">
        <a class="btn" href="/home"><b class="nav-bar">Home</b></a>
    </nav>

    <div class="text-container">
        <form method="post" >
            {% csrf_token %}
            <div class="text-container">
                <div class="text-box">
                    <b>Image url:  </b>
                    <input name="image_url" type="url" class="form-control">
                </div>

            </div>
            <div class="text-container">
                <b>Title:  </b>
                <input name="title" type="text" class="form-control">
            </div>
<!--            <div class="text-container">-->
<!--                <b>Image:  </b>-->
<!--                <input name="image" type="file" class="form-control">-->
<!--            </div>-->

            <div class="text-container">
                <b>Type: </b>
                <select class="form-select" aria-label="Default select example" name="tag">
                    <option selected>Выберите вид рецепта</option>
                    <option value="Первое" >Первое</option>
                    <option value="Второе" >Второе</option>
                    <option value="Выпечка">Выпечка</option>
                </select>
            </div>
            <div class="text-container">
                <b>Ingredients:</b>
                {% for i in amount %}
                    <div class="input-group mb-3">
                        <input class="form-control" type="text" name="ingr-name{{i}}">
                        <span class="input-group-text">---</span>
                        <input class="form-control" type="text" name="ingr-value{{i}}">
                    </div>
                {%endfor%}

            </div>
<!--            <div class="text-container">-->
<!--                {% for i in Range%}-->

<!--                    <div style="display: flex;">-->
<!--                        <input type="text" class="form-control" name="ingr_name{{i}}">-->
<!--                        <input type="text" class="form-control" name="ingr_value{{i}}" style="margin-left: 10px;">-->
<!--                    </div>-->
<!--                {%endfor%}-->
<!--            </div>-->
            <div class="text-container">
                <div class="form-floating">
                    <textarea class="form-control" name="description" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Description</label>
                </div>

            </div>
            <div class="info">
                <a href="create_item/info" class="btn btn-info" id="btn-info">Info</a>
                <input style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: 3rem; --bs-btn-font-size: 1rem;" class="btn btn-primary" type="submit" value="Create" />
            </div>

        </form>
    </div>

</body>
</html>