<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        nav .nav-blue{
            padding: 20px;
            background: #1E90FF;
        }
        .rounder-nav{
            background: #1E90FF;
            padding: 20px;
            display: flex;
            border-radius: 0px 0px 25px 25px;
        }
        .ingr{
            border: 1px solid #4e4e4e;
            border-radius: 3px 3px 3px 3px;

        }
        ingr-2{
            display: flex;

        }


    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{item.title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <nav class="rounder-nav">
        <a class="btn" href="/home"><b>Home</b></a>
    </nav>
    <div class="container" style="padding: 5vW;">
        <div class="card mb-3" >
            <div class="row g-0">
                <div class="col-md-4">
                    <img src={{item.img_source}} class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" align="center">{{item.title}}</h5>
                        <div class="ingr">


                            <div class="container text-center">
                                {%for pair in Pairs%}
                                    <div class="row">
                                        <div class="col" align="left" style="padding: .6vW;">
                                            {{pair.0}}
                                        </div>
                                        <div class="col-8" ><div class="ingr" style="weight: 4vW; margin-top: 1.3vW;"></div></div>
                                        <div class="col" align="right" style="padding: .6vW;">
                                            {{pair.1}}
                                        </div>
                                    </div>
                                {%endfor%}
                            </div>
                        </div>

                        <p class="card-text">{{item.description | linebreaks}}</p>
                        <p class="card-text"><small class="text-body-secondary">Created by {{item.created_by}}</small></p>
                        {%if user.is_superuser%}
                            <form method="post" >
                                {% csrf_token %}
                                <input class="btn btn-danger" name="delete" type="submit" value="delete">
                            </form>
                        {%endif%}

                    </div>
                </div>
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="form-floating">
                <textarea class="form-control" name="comment" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2">Leave your comment here</label>
            </div>
            <input type="submit" class="btn btn-primary">
        </form>
    </div>
    <div class="container" style="padding: 5vW;">
        {% for com in Comments %}
            <div class="card mb-3" style="padding: 1vW;">
                <p class="card-text">{{com.comment_text | linebreaks}}</p>
                <p class="card-text" align="right"><small class="text-body-secondary">Created by {{com.created_by}}</small></p>
            </div>
        {% endfor %}
    </div>


</body>
</html>